.image-border{
    border-radius: 10px 10px 0px 0px;
}

.project-title{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight:bolder;
    color: yellowgreen;
    background-color: #053379;
    border-radius: 5px;
    
}

.project-title:hover{
    color: #053379;
    background-color: yellowgreen;
}

.card-text{
    text-align: center;
}


/* card style and animation */
.card-style{
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);

    transition: 0.5s ease;
    cursor:pointer;
}

.card-style:hover{
    /* transform: scale(1.1); */
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
  }
  
  @-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
  }
  
  @keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }














