.btn-style{
    background-color: #053379;
    color:yellowgreen;
    font-family: "Open Sans", sans-serif;
}

.btn-style:hover{
    background-color: yellowgreen!important;
    color: #053379;
} 

.form-label {
    font-family: "Open Sans", sans-serif!important;
    color: rgba(5, 51, 121);
  }
