body {
    
   
    background-image: url("../images/portBackgrnd.jpeg");
    height: 100vh;
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    background-color: yellowgreen;
    
  }
  
  /* Navbar stylings */
  .navbar-brand{
    background-color: rgba(5, 51, 121);
    font-size: 30px;
    padding: 15px;
    color: yellowgreen!important;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    transition: 0.3s;
  }
  
  .navbar-brand:hover {
    color: mediumvioletred!important;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }

/*  */
h1,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgba(5, 51, 121);
}