.react-pdf_Page {
    margin: 0 auto;
}

.btn-style-resume{
    background-color: #053379;
    color:yellowgreen;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
}

.btn-style-resume:hover{
    background-color: yellowgreen!important;
    color: #053379;
} 