/* main {
    flex: auto;
  } */
  p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: rgba(5, 51, 121);
  }
  .content {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  
 .about-padding{
   padding: 50px 0px
 }
  
 a {
  font-family: "Open Sans", sans-serif;
  color: rgba(5, 51, 121);
  text-decoration: none;
 }
 
  a:hover {
    color: mediumvioletred!important;
  }
  @media screen and (max-width: 768px) {
    .content {
      margin-top: 75px;
      margin-bottom: 75px;
      width: 85%;
    }
  
    p {
      font-size: 10px;
    }
  }
  .window {
    padding: 45px;
    background-color: rgba(225, 225, 228, 0.836);
  }
  
  #jnel {
    float: left;
    margin-right: 10px;
  }
  
  @media screen and (max-width: 406px) {
    #jnel {
      width: 100%;
    }
  }